---
import type { ImagesTableType } from "@/db/schema"
import AsideLayout from "@/layouts/AsideLayout.astro"

const { userId } = Astro.locals.auth()
if (!userId) {
	return Astro.redirect("/login")
}

let images = []

const res = await fetch(`${import.meta.env.APP_URL}/api/gallery`, {
	method: "GET",
	headers: { "Content-Type": "application/json" }
})
const data = await res.json()
images = data
---

<AsideLayout title="Gallery | GalerIA" name="Gallery">
	<section class="p-4">
		{
			images.length === 0 ? (
				<div>No hay nada</div>
			) : (
				<div class="columns-2 gap-4 md:columns-3xs">
					{images.map(({ url, prompt }: ImagesTableType) => (
						<img class="mb-4 rounded-md" src={url} alt={prompt} />
					))}
				</div>
			)
		}
	</section>
</AsideLayout>
