---
import Modal from "@/components/modal"
import AsideLayout from "@/layouts/AsideLayout.astro"
import type { ImagesTableType } from "@/types"

const { userId } = Astro.locals.auth()
if (!userId) return Astro.redirect("/sign-in")

let images = []

const res = await fetch(
	`${import.meta.env.APP_URL}/api/gallery/${Astro.locals.auth().userId}`,
	{ method: "GET", headers: { "Content-Type": "application/json" } }
)
const data = await res.json()
images = data
---

<AsideLayout title="Gallery | GalerIA" name="Gallery">
	<section class="p-4">
		{
			images.length === 0 ? (
				<div>No hay nada</div>
			) : (
				<div class="columns-2 gap-4 md:columns-3xs">
					{images.map((image: ImagesTableType) => (
						<Modal {...image} client:load />
					))}
				</div>
			)
		}
	</section>
</AsideLayout>
