---
import AsideLayout from "@/layouts/AsideLayout.astro"
---

<AsideLayout title="Gallery | Extend0" name="Gallery">
	<div class="columns-2 gap-4 p-4 md:columns-3xs">
		<img class="mb-4 rounded-md" src="/src/assets/test/1.jpg" />
		<img class="mb-4 rounded-md" src="/src/assets/test/2.jpg" />
		<img class="mb-4 rounded-md" src="/src/assets/test/3.jpg" />
		<img class="mb-4 rounded-md" src="/src/assets/test/4.jpg" />
		<img class="mb-4 rounded-md" src="/src/assets/test/5.jpg" />
		<img class="mb-4 rounded-md" src="/src/assets/test/6.jpg" />
		<img class="mb-4 rounded-md" src="/src/assets/test/7.jpg" />
	</div>
</AsideLayout>
