---
import FormGenerate from "@/components/form-generate.tsx"
import AsideLayout from "@/layouts/AsideLayout.astro"

const { userId } = Astro.locals.auth()
if (!userId) return Astro.redirect("/sign-in")
---

<AsideLayout title="Generate images with AI" name="Generate">
	<section class="mx-auto flex flex-col items-center">
		<FormGenerate client:load />
	</section>
</AsideLayout>
