---
import Layout from "@/layouts/Layout.astro"
import { SignIn } from "@clerk/astro/components"
---

<Layout title="Sign In" description="Sign in to your account">
	<section
		class="max-w-8xl mx-auto flex min-h-screen flex-col-reverse md:flex-row">
		<div
			class="flex min-h-screen w-full flex-col items-center justify-center bg-neutral-900 p-4 md:w-1/2 md:p-8">
			<SignIn />
		</div>
		<div
			class="w-full bg-gradient-to-br from-sky-800/20 via-neutral-800/10 to-neutral-900 md:w-1/2">
		</div>
	</section>
</Layout>
