<div
  id="chat-delete"
  class="flex size-full flex-col items-center justify-center gap-4 py-5"
>
  <h2 class="text-center text-4xl font-medium text-neutral-100 md:text-6xl">
    Generate images{" "}
    <span class="inline-flex bg-gradient-to-r from-neutral-100 via-slate-400 to-neutral-400 bg-[200%_auto] bg-clip-text leading-tight text-transparent">
      with AI
    </span>
  </h2>
  <p class="text-center text-xs leading-6 text-neutral-300 md:text-sm">
    Explore the magic of image generation with AI - Create masterpieces in seconds!
  </p>
</div>