---
import Button from "@/components/ui/button.astro"
import { Icon } from "astro-icon/components"
---

<aside
	aria-label="sidebar"
	class="sticky top-0 flex h-screen w-1/6 flex-col items-center border-r-2 border-neutral-800">
	<span
		class="w-full border-b-2 border-neutral-800 pt-7 pb-6 text-center text-lg font-medium">
		G
	</span>
	<nav class="mt-4 flex flex-1 flex-col items-center gap-2">
		<Button
			variant="ghost"
			href="/generate"
			class="inline-flex items-center gap-2">
			<Icon name="star" class="size-5" />
			<span class="hidden text-sm md:block">Generate</span>
		</Button>
		<Button
			variant="ghost"
			href="/gallery"
			class="inline-flex items-center gap-2">
			<Icon name="gallery" class="size-5" />
			<span class="hidden text-sm md:block">Gallery</span>
		</Button>
		<Button
			variant="ghost"
			href="/community"
			class="inline-flex items-center gap-2">
			<Icon name="gallery" class="size-5" />
			<span class="hidden text-sm md:block">Community</span>
		</Button>
		<Button
			variant="ghost"
			href="/models"
			class="inline-flex items-center gap-2">
			<Icon name="gallery" class="size-5" />
			<span class="hidden text-sm md:block">Models</span>
		</Button>
	</nav>
</aside>
